# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-error.log
testem.log

# Runtime Data
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like Istanbul
coverage/
frontend/coverage/

# Dist and Temp
dist/
tmp/
cache/
.cache/
out-tsc/
bazel-out/
.sass-cache

# Dependency directories
jspm_packages/
typings/

# Compiled binary addons
build/Release/

# Parcel-bundler cache
.cache

# IDE settings
.idea/
.vscode/
.project
.classpath
.history/
.c9/
*.launch
.settings/
*.sublime-workspace
*.vscode/

# Only keep necessary VSCode settings
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MacOS and System Files
.DS_Store
Thumbs.db

# Miscellaneous
connect.lock
libpeerconnection.log

# Temporary files created by your text editor or IDE
*.tmp
*.swp
*.swo
*.sw[a-z]
*.bak
*.BAK
*.un~
Session.vim
.netrwhist

# Optional REPL history
.node_repl_history

# Vim swap files
*.sw[a-p]
*.un~
Session.vim
.netrwhist
*-mini

# Local environment files
.env
.env.local
.env.*.local

# Next.js and Nuxt.js build output
.nuxt
.next

# Bazel output (only if used)
bazel-out

# Angular build output
.angular
.angular/cache

# Ignore compiled assets and chunks
*.chunk.js
*.chunk.js.map
