html, body {
    height: 100%; 
    margin: 0; 
}

.container { 
    display: flex;
    flex-direction: column; 
}

.credit-container {
    padding: 2px;
    font-size: large;
    font-family: Arial, sans-serif;
    flex: 0 0 auto; 
}

.background-container { 
    padding: 20px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    height: 100px; 
    flex-shrink: 0; 
}

h2 {
    color: #003087;
    text-align: center;
}

.filter-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-section input {
    padding: 10px;
    width: 200px;
    font-size: medium;
    margin-right: 10px;
    border: 1px solid #003087;
    border-radius: 5px;
}

.filter-section button {
    padding: 10px;
    background-color: #0070ba;
    font-size: larger;
    color: white;
    border: none;
    border-radius: 5px;
}

.card-list {
    list-style-type: none;  
    padding: 0; 
    margin: 10px;
}

.card-list li {
    padding: 10px;
    border: 1px solid #003087;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;  
    transition: background-color 0.3s;
    background-color: rgb(255, 255, 255);
}

.card-list li:hover {
    background-color: #818b94;  
}

.details-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0070ba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
