.hero {
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .background-container {
  width: 50vw;
  height: 50vh;
  background-size: contain;  
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.image1 {
  background-image: url('../Images/Mikopay.png');
}